//menu wrapper
.menu-list {
  width: 224px;
  //menu item
  .menu-item {
    margin-left: 0;
    text-align: start;
    font-size: 1.6rem;
    font-weight: 500;
    width: 100%;
    &:hover {
      background: rgba(22, 24, 35, 0.03);
    }
  }
}
.menu-proper {
  padding-bottom: 8px;
}
